@use "src/styles/abstracts" as *;

.to-top-button {
  @include badge(1.25, $accent-primary, $basic-green, 2em);
  position: fixed;
  right: 1%;
  bottom: 0;
  opacity: 0;
  transition: all 0.2s;
  cursor: pointer;
  margin: 1em;

  &:hover {
    transform: scale(1.2);
  }

  &[aria-selected="true"] {
    opacity: 1;
  }
}

@include sm {
  .to-top-button {
    display: none;
  }
}
