$breakpoint-xs: 0px;
$breakpoint-sm: 640px;
$breakpoint-md: 768px;
$breakpoint-lg: 960px;
$breakpoint-xl: 1024px;
$breakpoint-xxl: 1280px;

@mixin xs {
  @media (max-width: #{$breakpoint-xs}) {
    @content;
  }
}
@mixin sm {
  @media (max-width: #{$breakpoint-sm}) {
    @content;
  }
}
@mixin md {
  @media (max-width: #{$breakpoint-md}) {
    @content;
  }
}
@mixin lg {
  @media (max-width: #{$breakpoint-lg}) {
    @content;
  }
}
@mixin xl {
  @media (max-width: #{$breakpoint-xl}) {
    @content;
  }
}
@mixin xxl {
  @media (max-width: #{$breakpoint-xxl}) {
    @content;
  }
}
