$breakpoint-xs: 560px;
$breakpoint-sm: 768px;
$breakpoint-md: 960px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1280px;

@mixin xs {
  @media (max-width: #{$breakpoint-xs}) {
    @content;
  }
}
@mixin sm {
  @media (max-width: #{$breakpoint-sm}) {
    @content;
  }
}
@mixin md {
  @media (max-width: #{$breakpoint-md}) {
    @content;
  }
}
@mixin lg {
  @media (max-width: #{$breakpoint-lg}) {
    @content;
  }
}
@mixin xl {
  @media (max-width: #{$breakpoint-xl}) {
    @content;
  }
}
