$background-primary: rgb(4, 14, 5);
$accent-primary: rgb(208, 186, 127);

$basic-white: rgb(250, 250, 250);
$basic-black: rgb(18, 18, 18);
$basic-gray: rgb(145, 151, 161);

$basic-green: rgb(27, 95, 34);
$basic-red: rgb(228, 17, 17);

$light-green: rgb(45, 159, 56);

$darker-gray: rgb(84, 90, 99);

$dark-green: rgb(13, 48, 17);
$dark-black: rgb(0, 0, 0);

$light-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
$darker-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
$dark-shadow: 0 0 15px rgba(0, 0, 0, 0.75);

$error-highlight: rgba(152, 11, 11, 0.3);
