@use "src/styles/abstracts" as *;

.alert {
  @include flexrow(center, center, 0.5em);
  @include font(0.75, normal, $basic-white, italic);
  align-self: center;
  opacity: 0;
  transition: all 0.2s;
  padding: 1em 0;
  width: fit-content;
  height: 10px;

  &[aria-expanded="true"] {
    opacity: 1;
  }

  &__icon {
    color: $basic-red;
  }
}

@include md {
  .alert {
    padding: 0;
    font-size: 1rem;
  }
}
