@use "src/styles/abstracts" as *;

.contact-form {
  @include flexcol(center, flex-start, 2em);
  width: 100%;
  max-width: 600px;

  &__group {
    @include flexcol(initial, flex-start, 0.5em);
    width: 100%;
  }

  &__label {
    @include font(1, normal);
  }

  &__input,
  &__textarea {
    @include font(1, normal);
    transition: border-color 0.2s;
    outline: none;
    border: 1px solid $basic-white;
    background-color: transparent;
    padding: 0.25em 0.5em;
    width: 100%;

    &::placeholder {
      color: $basic-gray;
    }

    &--invalid {
      background-color: $error-highlight !important;
    }
  }

  &__textarea {
    height: 200px;
    resize: none;

    &::placeholder {
      font-style: italic;
    }
  }

  &__submit {
    @include font(1, bold);
    @include flexrow(center, center, 0.5em);
    transition: all 0.2s;
    margin-top: 1em;
    border: 1px solid $basic-white;
    border-radius: 12px;
    background-color: transparent;
    padding: 0.5em 1em;
    width: fit-content;

    &:hover {
      border-color: $accent-primary;
      color: $accent-primary;
    }
  }
}

@include sm {
  .contact-form {
    align-items: center;
    gap: 1em;

    &__input,
    &__textarea {
      font-size: 1.25rem;
    }

    &__submit {
      font-size: 1.5rem;
    }
  }
}
