@use "src/styles/abstracts" as *;
@use "src/styles/components" as *;
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $font-primary;
  text-decoration: none;
}

body {
  background-color: $background-primary;
  min-height: 100vh;
  min-height: 100svh;
  color: $basic-white;

  .lock-scroll {
    overflow: hidden;
  }
}

.wrapper {
  @include flexcol();
  height: 100dvh;
  height: 100svh;
}

main {
  @include flexcol();
  flex: 1;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

input,
textarea {
  border: none;
  background-color: transparent;
}
