@use "src/styles/abstracts" as *;

.home {
  @include flexcol(initial, center, 5em);
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding-bottom: 7em;
}

.section {
  width: 100%;

  &:not(:first-child) {
    padding-top: 5em;
  }

  &__header {
    @include font(3.5, bold);
    letter-spacing: 0.05em;
  }
}
