@use "src/styles/abstracts" as *;

.home {
  @include flexcol(initial, center, 5em);
  margin: 0 auto;
  padding-bottom: 7em;
  width: 100%;
  max-width: 1200px;
}

.section {
  @include padding-x(1em);
  width: 100%;

  &:not(:first-child) {
    padding-top: 5em;
  }

  &__header {
    @include font(3.5, bold);
    letter-spacing: 0.05em;
  }
}

@include md {
  .home {
    padding-bottom: 5em;
  }

  .section {
    &:not(:first-child) {
      padding-top: 1em;
    }

    &__header {
      font-size: 3rem;
    }
  }
}

@include sm {
  .section {
    &__header {
      font-size: 2.25rem;
    }
  }
}
