@use "src/styles/abstracts" as *;

.skill-card {
  @include flexcol(center, center, 0.5em);
  transition: all 0.2s;
  border: 1px solid $darker-gray;
  padding: 2em 1em;

  &:hover {
    border-color: $accent-primary;

    & > * {
      transform: scale(1.2);
    }
  }

  & > * {
    transition: all 0.2s;
  }

  &__label {
    @include font(1.75, bold);
    text-align: center;
  }

  &__icon {
    @include font(2.5, normal, $accent-primary);
  }

  &__image {
    width: 35px;
    height: 35px;
  }
}

@include sm {
  .skill-card {
    padding: 1em;

    &__label {
      font-size: 1.5rem;
    }

    &__icon {
      font-size: 2.5rem;
    }
  }
}
