@use "src/styles/abstracts" as *;

.about {
  @include flexcol(center, center, 1em);
  height: 100vh;
  text-align: center;

  &__title {
    width: fit-content;
  }

  &__header {
    @include font(1.5, bold);
    // One step per character
    animation: typing 2s steps(19, end), blink-caret 1s step-end infinite;
    margin: 0 auto;
    border-right: 3px solid $accent-primary;
    overflow: hidden;
    font-family: monospace;
    letter-spacing: 0.15em;
    white-space: nowrap;
  }

  &__subtitle {
    @include font(2.5, bold);
    margin-bottom: 1em;
  }

  &__highlight {
    color: $accent-primary;
  }

  &__description {
    @include font(1, normal, $basic-gray);
    font-style: italic;
    line-height: 1.5em;
    word-spacing: 0.1em;

    &__container {
      @include flexcol(center, center, 1em);
      width: 100%;
      max-width: 1000px;
      text-align: left;
    }
  }
}

@include sm {
  .about {
    &__description {
      &__container {
        width: 80%;
      }
    }
  }
}

@include sm {
  .about {
    &__description {
      &__container {
        width: 100%;
      }
    }
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: $accent-primary;
  }
}
