@use "src/styles/abstracts" as *;

.about {
  @include flexcol(center, center, 1em);
  height: 100vh;
  text-align: center;

  &__title {
    @include font(1.5, bold);
  }

  &__subtitle {
    @include font(2.5, bold);
    margin-bottom: 1em;
  }

  &__highlight {
    color: $accent-primary;
  }

  &__description {
    @include font(1, normal, $basic-gray);
    font-style: italic;
    line-height: 1.5em;    
    word-spacing: 0.1em;

    &__container {
      @include flexcol(center, center, 1em);
      width: 100%;
      max-width: 1000px;
      text-align: left;
    }
  }
}
