@use "src/styles/abstracts" as *;

.about-list {
  margin-top: 3em;
  @include flexrow(initial, center, 5em);

  &__icon {
    @include font(2, normal, $accent-primary);
    transition: all 0.2s;

    &:hover {
      color: $basic-white;
    }
  }
}

@include sm {
  .about-list {
    margin-top: 2em;
    gap: 0;
    justify-content: space-evenly;
    width: 80%;

    &__icon {
      font-size: 2rem;
    }
  }
}

@include sm {
  .about-list {
    width: 100%;
  }
}
